# Quarto Temporary/Rendered Files
.quarto/
_book/
*_files/
execute-results/


# Python Junk
__pycache__/
*.pyc
venv/

# System & Config Junk
core
.DS_Store
.luarc.json
html.json
venv/
.venv/
env/
/.quarto/
